img.profile-img {
    width: 2em;
    height: 2em;
    object-fit: cover;
    border-radius: 50%;
}

.comment-style span:first-of-type {
    font-style:italic;
}

.span-dark {
    color: black;
}

.span-light {
    color: white;
}